body{
    background: url("https://res.cloudinary.com/teepublic/image/private/s--XE2F_tWH--/t_Preview/b_rgb:ffb81c,c_lpad,f_jpg,h_630,q_90,w_1200/v1549064384/production/designs/4129059_0.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.container{
    margin: auto;
    text-align: center;
}

#header {
    background: #d44a47;
    border: black outset 2px;
    width: fit-content;
    margin: 20px auto;
    padding: 10px;
    font-family: 'Bangers', cursive;
}
.burgerName {
    background:#8bbf5c;
    color: white;
    width: fit-content;
    padding: 10px;
    margin: 15px auto;
    border: black dashed 2px
}
.burgs{
    list-style: none;
    font-family: 'Permanent Marker', cursive;
    font-size: 45px
}
h2{
    background: #fae24c;
    border: black outset 2px;
    font-family: 'Bangers', cursive;
}
.burgButton{
    font-size: 25px
}
#nameInput {
    background: #d44a47;
    border: black outset 1px;
    padding: 5px;
    font-size: 20px
}
#addBurgForm {
    margin: auto;
    text-align: center;
    font-family: 'Bangers', cursive;
}
#addButt{
    margin: 5px auto 15px auto;
    font-family: 'Bangers', cursive;
    font-size: 20px;
    letter-spacing: 2px
}